# =====================
# GO BUILD FILES
# =====================
bin/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# =====================
# GO MODULE FILES
# =====================
vendor/

# =====================
# TEST COVERAGE
# =====================
coverage.out
coverage/

# =====================
# ENV FILES
# =====================
.env
*.env

# =====================
# LOGS
# =====================
*.log

# =====================
# SYSTEM FILES
# =====================
.DS_Store
Thumbs.db

# =====================
# IDEs and EDITORS
# VSCode
.vscode/

# JetBrains (GoLand, IntelliJ)
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse / STS / Spring Tools
.classpath
.project
.settings/
.apt_generated
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Gradle wrapper and cache
.gradle
!gradle/wrapper/gradle-wrapper.jar

# =====================
# DOCKER
# =====================
**/Dockerfile
**/docker-compose.yml
.dockerignore
